.hot-item-box{
    // display: flex;
    // flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .hot-item-box-content{
        min-height: 100%;

        // border: 2px solid blue
    }
}