.user_wrapper{
    height: 100%;
    overflow: hidden;
    .user_content{
        min-height: 100%;
        border: 2px solid blue
    }
    .home_top {
        height: 100px;
        border: 1px solid red;
    }
}

.search-item-box{
    // display: flex;
    // flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .search-item-box-content{
        min-height: 100%;

        border: 2px solid blue
    }
}