body {
    max-width: 540px;
    min-width: 320px;
    height:100%;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: #000;
    background: white;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-tap-highlight-color: transparent;
}

#app {
    height:100%;
    position: relative;
}

div {
    box-sizing: border-box;
}
